/* I added MYM stuff way at the bottom */
/* amr 12-jan-2015 */
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

/* MYM stuff starting with color pots */
/* button code culled from http://css-tricks.com/circular-3d-buttons/ */


pots {
  list-style: none;
  text-align: center;
}

 
pots li {
  
  display: inline-block;
  margin-right: -4px;
}

.pot  {
  display: block;
  list-style-type: none;
  background-color: #44B78B;
  z-index: 0;
  color: #ffff05;
  margin: 36px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.red {
   background-color: #ff2402;
}
.blue {
    background-color: #0c00ff;   
}
.green {
    background-color: #05ff3b;
}
.yellow {
    background-color: #ffff05;
}	

#guesstray ul {
margin-left: 138px;
}

#guesstray li {
display: inline;
}

.guess {

display: inline;
  /*margin: 36px;*/
  width: 44px;
  height: 44px;
}	
.submit {
/* got my triangle (arrow) from http://stackoverflow.com/questions/12041938/how-to-create-a-triangle-in-css3-using-border-radius
*/
width: 44px;
height: 44px;
background-color: #ffffff;
border-top: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 44px solid #990000;
margin-left: 15px;
}
