/* I added MYM stuff way at the bottom */
/* amr 12-jan-2015 */
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

/* MYM stuff starting with color pots */
/* button code culled from http://css-tricks.com/circular-3d-buttons/ */

pots {
  list-style: none;
  text-align: center;
}

   
pots li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}
.pot  {
  display: block;
  background-color: #44B78B;

  color: #ffff05;
  margin: 36px;
  width: 44px;
  height: 44px;
  position: relative;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.red {
   background-color: #ff2402;
}
.blue {
    background-color: #0c00ff;   
}
.green {
    background-color: #05ff3b;
}
.yellow {
    background-color: #ffff05;
}	
	
